header {
  /*background-color: #fd5c63;*/
  /*background-color: rgba(253, 92, 99, 0.5);*/
  color: black;
  padding: 8px;
  display: flex;
  justify-content: space-between;
}

header h1 {
  margin: 0;
}

header nav ul {
  margin: 0;
  padding: 0;
}

header nav a {
  padding: 15px;
}

.search-icon-container {
  position: absolute;
  width: 100%;
  background: linear-gradient(to right, #001f3f, #c7d2ff);
  color: white;
  margin-top: none; /* Remove margin-top */
  margin-bottom: 25px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-icon-container h1 {
  position: absolute; 
  top: 10%; 
  transform: translateY(-50%);
  text-align: center; 
  width: 100%; 
  font-size: 36px;
  font-weight: bold;
}

.search-icon-container input {
  width: 400px;
  height: 35px;
  font-size: 18px;
}

.search-icon-container button {
  height: 40px;
  margin: 15px;
}

.restaurant-cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; 
  margin-top: 30vh; 
}

.restaurant-card {
  width: 200px; 
  height: 250px;
  margin: 10px;
  padding: 20px;
  border: 1px solid #ccc; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}

.webFooter {
  margin-top: 20vh;
  background-color: #808080;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: flex-start; 
  padding: 20px;
}
  
.footer-content {
    display: flex; 
}
  
.about-us,
.contact-us {
    margin: 0 150px; 
}

.sideBar {
  height: 100%; 
  width: 250px;
  position: fixed;
}

.sideBarContent {
  flex-direction: column;
  display: flex;
  margin-left: 15px;
}

.sideBarContent input[type="checkbox"] {
  margin-bottom: 15px; 
}

.sideBarContent button {
  margin: 5px;
}

.restaurant-list-container {
  display: flex;
  flex-direction: column;
  margin-left: 15%;
}

.restaurant-card-results {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 20px;
  width: 85%; 
  height: 200x;
}

.restaurant-card-results h2 {
  margin-top: 0;
}






